body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.main {
    background-color: #FFF;
    max-width: 80%;
    margin: 6.375rem auto 1.875rem;
    padding: 1.25rem 2.5rem .9375rem;
    border-radius: .5rem;
    min-height: 50rem;
    border: 1px solid #999;
    -webkit-overflow-scrolling: touch;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.thumbnail {
    border: 0;
}

a:hover, a:focus {
    text-decoration: none;
}

@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }

.stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 50%;
    position: relative;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

@media print {
    h1,h2,h3,h4,h5 {
        -webkit-print-color-adjust: exact;
    }
}

.listrap {
    list-style-type: none;
    margin: 0;
    padding: 0;
    cursor: default;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.listrap li {
    margin: 0;
    padding: 10px;
}

.listrap li.active, .listrap li:hover {
    background-color: #d9edf7;
}

.listrap strong {
    margin-left: 10px;
}

.listrap .listrap-toggle {
    display: inline-block;
    width: 60px;
    height: 60px;
}

.listrap .listrap-toggle span {
    background-color: #428bca;
    opacity: 0.8;
    z-index: 100;
    width: 60px;
    height: 60px;
    display: none;
    position: absolute;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    vertical-align: middle;
    color: #ffffff;
}

.listrap .listrap-toggle span:before {
    font-family: 'Glyphicons Halflings';
    content: "\e013";
}

.listrap li.active .listrap-toggle span {
    display: block;
}
